<%-include('partials/header') %>
<div class="adminOrder_outer">
    <div class="adminOrder_inner">
        <div class="adminHead">
            <img src="Images/orderIcon.jpg">
            <p>Customer Order</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Order Detail</th>
                    <th>Cutomer Name</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody class="table_body" id="table_Body">
                
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer') %>;