<%- include('partials/header') %>
<div class="orderSummary_outer">
    <div class="orderSummary_inner">
        <div class="orderSummary_heading">
            <img src="Images/cart-2.png" alt="" >
            <p>&nbsp; All orders</p>
        </div>
        <div class="orderSummar_row_head">
            <div class="ItemDescript_head">Order Id</div>  
            <div class="ItemQuantity_head">Delivery Address</div>        
            <div class="Amount_head">Time</div>      
        </div>

        <div class="allOrder_row">
            <div class="orderId"><a href="/order/status">64197c15eef6fc7a3de300cd</a></div>  
            <div class="address">Ayodhya</div>        
            <div class="time">03:12 PM</div>      
        </div> 
    </div>
</div>