<%- include('partials/header') %>

<!-- Main-Section -->
<div class="main_outer">
    <div class="main_inner">
        <div class="main_Content">
            <div class="main_heading">
                <p>Feels Like Home,<br><span>Tastes Like a Paradise</span></p>
            </div>
            <div class="main_para">
                <p>Are you hungry...? &nbsp &nbspDon't wait</p>
            </div>
            <div class="main_btn">
                <a href="/menu">Order Now</a>
            </div>
        </div>
        <div class="main_Img">
            <img src="Images/Graphic3.webp" alt="">
        </div>
    </div>
</div>

<!-- Deals & Offers Section -->
<div class="offers_outer" id="offers">
    <div class="offers_heading">Deals & Offers</div>

    <div class="offers_inner">
        <i id='left' class="fa-solid fa-chevron-left"></i>
        <i id='right' class="fa-sharp fa-solid fa-chevron-right"></i>
        <div class="offers_carousel">
            <img src="Images/offer1.jpg" alt="">
            <img src="Images/offer2.jpg" alt="">
            <img src="Images/offer3.jpg" alt="">
            <img src="Images/offer4.jpg" alt="">
            <img src="Images/offer5.jpg" alt="">
        </div>
    </div>
</div>

<!-- Menu Section CSS -->
<div class="menu_outer" id="menu">
    <div class="menu_inner">
        <div class="menu_heading">
            <p>Domino's Menu</p>
        </div>
        <div class="menu_row">
            <div class="menu_col">
                <div class="menu_img"><img src="Images/VegPizza.jpg" alt=""></div>
                <div class="menu_detail">
                    <p class="category_name">Veg Pizzas</p>
                    <div class="view_btn">
                        <a href="/VegPizza">View All</a>
                    </div>
                </div>
            </div>
            <div class="menu_col">
                <div class="menu_img"><img src="Images/Non_veg_pizza.jpg" alt=""></div>
                <div class="menu_detail">
                    <p class="category_name">Non-Veg Pizzas</p>
                    <div class="view_btn">
                        <a href="/NonVegPizza">View All</a>
                    </div>
                </div>
            </div>
            <!-- <div class="menu_col">
                <div class="menu_img"><img src="Images/garlic-bread.webp" alt=""></div>
                <div class="menu_detail">
                    <p class="category_name">Beverages</p>
                    <div class="view_btn">
                        <a href="/VegPizza">View All</a>
                    </div>
                </div>
            </div> -->
            <div class="menu_col">
                <div class="menu_img"><img src="Images/veg-burger.webp" alt=""></div>
                <div class="menu_detail">
                    <p class="category_name">Veg Burger</p>
                    <div class="view_btn">
                        <a href="/VegBurger">View All</a>
                    </div>
                </div>
            </div>
            <div class="menu_col">
                <div class="menu_img"><img src="Images/non-veg-burger.jpg" alt=""></div>
                <div class="menu_detail">
                    <p class="category_name">Non-Veg Burger</p>
                    <div class="view_btn">
                        <a href="/NonVegBurger">View All</a>
                    </div>
                </div>
            </div>
            <div class="menu_col">
                <div class="menu_img"><img src="Images/drinks.jpg" alt=""></div>
                <div class="menu_detail">
                    <p class="category_name">Drinks</p>
                    <div class="view_btn">
                        <a href="/Beverages">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

