<%- include('partials/header') %>
<div class="login_outer">
    <div class="screen">
        <div class="screen__content">
            <form class="login" action="/login" method="post">
                <% if(messages.error){ %>
                    <span style="color:red"><%= messages.error %></span>
                <% } %>
                
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Enter your Email" name="email">
                </div>
                <div class="login__field">
                    <input type="password" class="login__input" placeholder="Password" name="password">
                </div>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Log In Now</span>
                </button>                
            </form>
            <button class="signUpBtn">
                <a href="/register"><span class="button__text">Sign Up</span></a>
            </button>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
<%- include('partials/footer') %>