<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun-Food</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500;600&family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400;500&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="navbar_Outer">

        <div class="nav_Inner">
            <div class="nav_logo">
                <a href="/"><img src="Images/Dominos-Logo.png" alt=""></a>
                <i class="fa-solid fa-bars" id="menu_btn"></i>
            </div>
            <div class="nav_menu">
                <ul id="nav_list">
                    <li><a href="/">Home</a></li>
                    <li><a href='/#menu'>Our Menu</a></li>
                    <li><a href="#offers">Gift Cards</a></li>
                    <li><a href="/stores">Store's</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li>
                        <div class="loginBtn_inner">
                            <a href="/login">Login</a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="loginBtn">
                <div class="loginBtn_inner">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>